
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}


.room-list {
  float: left;
  min-height: 100%;
  width: 30%;
  height: 100vh;
  background-color: #BBB7B7;
}

.room-name {
  color: #5D5959;
}
