
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}


.App-title {
  font-size: 50px;
  text-align: center;
}

.user {
  float: right;
  margin-top: -10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.welcome-user {
  font-size: 15px;
}
.room-list {
  float: left;
  min-height: 100%;
  padding-left: 20px;
  width: 30%;
  height: 100vh;
  background-color: #eeeeee;
}


.room-name {
  color: #5D5959;
  background-color: yellow;
}

.active-room {
  padding-top: 10px;
  height: 70px;
}

.message:nth-child(odd){
  background-color: #dbdcff;

}

.message:nth-child(even){
  background-color: #f9d3d3;
}


.message {
  padding: 1px;
}



.message-username {
  font-weight: bold;
  text-align: left;
  text-indent: 20px;
  margin-top: 10px;
}

.message-content {
  text-align: left;
  text-indent: 20px;
  margin-top: -10px;
}

.message-time {
  font-style: italic;
  font-size: x-small;
  float: right;
  margin-top: -50px;
  margin-right: 10px;
}
