
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}


.App-title {
  font-size: 50px;
  text-align: center;
  position: relative;
  width: 90%;
  padding-left: 100px;
}

.user {
  float: right;
  margin-top: -10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.welcome-user {
  font-size: 15px;
}

.room-list {
  float: left;
  min-height: 100%;
  padding-left: 20px;
  width: 30%;
  height: 100vh;
  background-color: #eeeeee;
}

#rooms-heading {
  margin-left: -30px;
  margin-bottom: -3px;
}

#new-room {
  margin-left: 100px;
  margin-top: -40px;
}

.room-name {
  color: #5D5959;
  float: left;
  margin-top: 10px;
  margin-left: -20px;
  width: 420%;
  text-align: left;
  padding-top: 10px;
  padding-left: 5px;
  border-radius: 5px;
  border: 2px solid black;
}


.active-room {
  padding-top: 10px;
  height: 70px;
  width: 143%
}

#delete-room {
  float: left;
  position: relative;
  display: inline-block;
  margin-left: 120px;
  margin-top: -34px;

}


.message:nth-child(odd){
  background-color: #cce5cc;
  border-radius: 25px;
  border: 2px solid black;
}

.message:nth-child(even){
  border-radius: 25px;
  border: 2px solid black;
}

.message {
  margin-bottom: 5px;
  margin-right: 10px;
}

.message-list {
  float: left;
  width: 70%;
}

.message-container {
  width: 143%;
}

.message-username {
  font-weight: bold;
  text-align: left;
  text-indent: 20px;
  margin-top: 10px;
}

.message-content {
  text-align: left;
  text-indent: 20px;
  margin-top: -10px;
}

.message-time {
  font-style: italic;
  font-size: x-small;
  float: right;
  margin-top: -50px;
  margin-right: 10px;
}

#new-message-footer {
  float: left;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer {
  float: left;
}

#new-message-form {
  background-color: yellow;
}

#new-message-text {
  float: left;
  width: 700px;
}

#send-message {
  position: fixed;
  margin-left: -270px;
  width: 150px;
  background-color: #26a67e;
}

#delete-message {
  margin-top: -135px;
}
